@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Oswald:wght@200..700&family=Staatliches&display=swap');


:root {
    --primary-color: #10E5B2;
    --primary-accent: #acfa70;
    --secondary-color: #FF6F52;
    --tertiary-color: #0B0C15;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 2rem 4rem;
}

header .title {
    font-size: 40px;
    color: white;
    text-decoration: none;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    display: flex;
    gap: 2rem;
}

nav a {
    font-size: larger;
    text-decoration: none;
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

/* Landing Page */
.home-header {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.home-header .welcome-text {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

main .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 78vw;
}

main .main-container:hover .app-name::after {
    content: "";
    left: 0%;
    position: absolute;
    background-image: linear-gradient(to right, var(--primary-color), var(--primary-accent));
    width: 15rem;
    height: 5rem;
    mix-blend-mode: darken;
    transition: width 300ms ease-in-out;
}

main .main-container .app-name {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 60px;
    padding: 0;
    margin: 0;
    width: 15rem;
}

main .main-container .app-name::after {
    content: "";
    width: 0;
}

main .main-container .project-title {
    text-align: center;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 1rem;
}

main .main-container .project-description {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: xx-large;
    color: white;
    margin-top: 0;
}

main .main-container .page-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

main .main-container .page-buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #121212;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    height: 5rem;
    width: 17rem;
    border-radius: 10px;
    font-size: 21px;
    transition: all 300ms ease-in-out;
}

main .main-container .page-buttons #overall-btn {
    border: 4px solid var(--primary-color);
}

main .main-container .page-buttons #user-btn {
    border: 4px solid #53ee9d;
}

main .main-container .page-buttons #experience-btn {
    border: 4px solid #80f586;
}

main .main-container .page-buttons #bibliography-btn {
    border: 4px solid var(--primary-accent);
}

main .main-container .page-buttons a:hover {
    scale: 1.1;
    color: #121212;
}

main .main-container .page-buttons #overall-btn:hover {
    background-color: var(--primary-color);
}

main .main-container .page-buttons #user-btn:hover {
    background-color: #53ee9d;
}

main .main-container .page-buttons #experience-btn:hover {
    background-color: #80f586;
}

main .main-container .page-buttons #bibliography-btn:hover {
    background-color: var(--primary-accent);
}